body {
	background-color: #252020;
	font-family: 'Reggae One', cursive;
}
html {
	scroll-behavior: smooth;
}

.dark {
	background-color: rgb(31, 29, 29);
}

.box {
	box-shadow: -12px -12px #e9e2e2;
	background-color: #252020;
}
ul {
	list-style-type: square;
}
